:root{
    --primary-color:orangered;
    --secondary-color:rgba(129, 211, 35, 0.747);

    --color-white:white;
    --color-black:black;

}

body{
    margin: 0;
    padding: 0;
    background: url(../im/body-bg.jpg);
}

section{
    height: 100vh;
    padding: 3rem 10rem 10rem;
}

h1{
    font-size: 4rem;
}

a{
    text-decoration: none;
}

nav{
    background: #f7f7f7;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 1rem;
}

nav a{
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0.7rem;
}

li, a{
    display: inline-block;
}

ul li{
    font-size: 1.1rem;
    padding: 0.4rem;
    text-align: center;
}

ul li.active, li:hover{
    background: var(--primary-color);
    border-radius: 10px;
    color: var(--color-white);
}

ul li a{
    margin:0 1.2rem;
    padding:0 0.3rem;
}

nav button{
    background: var(--primary-color);
    border: none;
    height: fit-content;
    border-radius: 10px;
    margin:1rem 3rem 0 0 ;
    padding: 0.4rem;
    font-size: 1rem;
    color: var(--color-white);
}

nav button:hover{
    background: var(--secondary-color);
    color: var(--color-black);
}

#hero{
    background-image: url(../im/n1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 27rem;
}

#hero .container{
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

#hero .container p{
    font-size: 1.4rem;
    font-weight: bold;
}

#about{
    text-align: center;
    

}

.about-us h1{
    margin: 1rem 0 0 ;
    padding: 0;

}

hr{
    border: 6px dotted var(--primary-color);
    border-top: none;
    width: 20vw;
    text-align: center;
    margin-bottom: 3rem;
}

span{
    color: var(--primary-color);
}

.text{
    font-size: 1.5rem;
    
}

.title h1{
    text-align: center;
    margin: 1rem 0 0 ;
}

#service{
    background-color: rgb(250, 191, 114);
    height: fit-content;
}

.title hr{
    border: 6px dotted var(--color-black);
    border-top: none;
    width: 20vw;
    text-align: center;
    margin-bottom: 3rem;
}

.service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.order{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    width: fit-content;
    background: #f7f7f7;
}

.order .img img{
    width: 100%;
    height: 16rem;
    border-radius: 10px;
}

.breakfast-food{
    padding: 1rem;
}

.breakfast-food h2{
    margin: 0;
    
}

.breakfast-food p{
    color: #363434;
}

.breakfast-food .price{
    font-size: 1.3rem;
    color: black;
}

.breakfast-food .price,
.breakfast-food input,
.breakfast-food button{
    display: inline-block;
    margin:1rem 0.2rem;
}

.breakfast-food input{
    width: 50px;
    height: 34px;
    font-size: 1.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
}

.breakfast-food button{
    background: orangered;
    border: none;
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

.breakfast-food button:hover{
    background: rgb(255, 137, 94);
}

.cont h1{
    text-align: center;
    margin: 1rem 0 0 ;
}

.contact-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(250, 191, 114);
    border-radius: 10px;
    height: fit-content;
}

.contact-im img{
    width: 98%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form{
    width: 80%;
}

.form input, textarea{
    display: block;
    width: 95%;
    padding: 0.4rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}



.form button{
    width: 99%;
    padding: 0.4rem;
    margin: 1rem;
    background: var(--primary-color);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

footer{
    background-color: rgb(250, 191, 114);
    margin: 0;
    bottom: 0;
    position: relative;
    bottom: 0;
}

footer .copyright{
    text-align: center;
}